
body {
   margin-top:75px;
   margin-left:10px;
   margin-right:10px;
   background:#A2B0BB;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

table#tabela
{
	margin-left:auto;
	margin-right:auto;
}

